.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-right: 10px;
  padding: 3px;
  border-radius: 5px;
}

.icon:hover {
  color: #fff;
  background: #555;
}

.icon-active {
  color: #fff;
  background: rgb(3, 110, 249);
}

.movie-list {
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
}

.list-movie-title {
  color: #333;
  font-size: 18px;
}
