* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* header */
header {
  width: 85%;
  margin: 0 auto 2rem;
  padding-top: 3rem;
}

header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

header .title img {
  max-width: 5em;
}
header .title h2,
.score,
.tried {
  padding: 0 2rem;
}

header .title h2 {
  display: flex;
  align-items: center;

  font-size: 3rem;

  letter-spacing: 1px;
}

.score {
  text-align: end;

  font-size: 2rem;
  color: #6c90ac;
}

.tried {
  text-align: end;
  font-size: 1.5rem;
}

/* cards */
#card-panel {
  width: 85%;
  margin: 0 auto;
  display: flex; /* 應該用 Grid 才可以徹底的固定行數*/
  flex-wrap: wrap;
}

#card-panel .card {
  position: relative; /**/
  /* 在牌桌的排版 */
  flex: 1 1 7%;
  height: 9vw; /*不是很確定為何會是 h 對上 w？ 如果是對上vh，基本上只有寬度改變時，它就不會動，這樣會導致牌卡變成橫的長方形*/
  margin: 2px;
  /* 牌卡內部文字、圖案的排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #777;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 1rem;
}

.card p:last-child {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.back {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;
}

/* 配對成功樣式 */
.paired {
  background: lightgoldenrodyellow;
}

/**/
.for-card-EL {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0 20px;
}
.completed > p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0.3rem 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}

.restart-btn {
  border: none;
  display: block;
  margin: 3rem auto 0;
  background-color: #758d9a;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.restart-btn:hover {
  background-color: rgba(117, 141, 154, 0.2);
  color: #758d9a;
  transition: 0.2s;
}

/* animation */
.wrong {
  animation: wrongAnimation 0.2s 5;
}

@keyframes wrongAnimation {
  0% {
  }

  100% {
    border: 2px solid #fda;
  }
}
